<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Page about us</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="alert alert-success mt-2">
    <h3>For drugs</h3><br><br>
    <h5>Created for Spring Backend Midterm</h5>
</div>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>