<div th:fragment="header">
    <header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-body border-bottom shadow-sm">
        <img src="https://images.vexels.com/media/users/3/208420/isolated/preview/41e90e7c20f8ee1f9ae7dbc73da5d55d-pills-medicine-icon-by-vexels.png" alt="" width="40px" height="40px">
        <p class="h5 my-0 me-md-auto fw-normal">Pharmacy</p>
        <div class="container">
            <div class="row">
                <div class="col-10">
                    <nav class="my-2 my-md-0 me-md-3">
                        <a class="p-2 text-dark" href="/">Main Page</a>
                        <a class="p-2 text-dark" href="/home">All Drugs</a>
                        <a class="p-2 text-dark" href="/about">About Us</a>
                    </nav>
                </div>
            </div>
        </div>
    </header>
</div>